# The local port on which the relay listens
local.port = 8080

# Definitions for the remote HTTPS tunnel servers, one or multiple. If remote.host is defined, then that one is used;
# or otherwise a best from the pool of (comma-separated) servers defined in remote.hosts is selected.
# Note that they accept the same username, and password. The server ports default to 443 if not specified.
remote.server = demo.https-tunnel.com
remote.servers = demo1.https-tunnel.com,demo2.https-tunnel.com:1443
remote.username = username
remote.password = password

# Regular expression list that if any one is matched against anywhere in the requested URI successfully, the request
# shall be rejected.
proxy.blacklist = evil, gaming
